# 忽略用户指定的文件夹
.vs/
.vscode/
Bin/
build/
BarcodeDecoderDll/build-vs2022/
debug/
include/
Lib/
myImage/
OpenCV/
PaddleOCR/
release/
SDK/
industrial_char_segmenter/

# Qt / QMake 编译生成文件
Makefile
Makefile.Debug
Makefile.Release
object_script.*
*_plugin_import.cpp
/.qmake.stash
/.qmake.cache
*.pro.user
*.pro.user.*

# Qt MOC, UIC, RCC 生成的文件
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp

# Visual Studio 相关及编译中转文件
*.suo
*.user
*.ipch
*.pch
*.aps
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vcxproj.user

# 编译生成的可执行文件、库和对象文件
*.obj
*.o
*.exe
*.dll
*.so
*.a
*.lib
*.pdb

# 日志及系统保留文件
*.log
*.bak
*.autosave
Thumbs.db
.DS_Store
